* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
    border-radius: 20px;
}

.main h1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}